<head>
		<title>Module 03</title>
	<style type="text/css">
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/dancing" type="text/css"/>
		body{  
			font-family: Helvetica, Arial, sans-serif;
			color: #665544;
			padding: 0% 15%;
		}
		h1{
			text-align:center;
			color:blue;
			font-family:DancingScriptRegular;
			font-size:400%;	
		}
		p{
			font-family: DancingScriptRegular;
			font-weight: normal;
			font-style: normal;
			font-size:200%;
			text-align:left;
		}
		i{
			color:darkgreen;
		}
	</style>
</head>
